<%- include("partials/header"); -%>
<br>
<header class="svvr">
    <h3><bold>SVVR INFRA</bold></h3>
    <h3><bold>SVV RAMBABU</bold></h3>
        <h3><bold>P BALUSULARAO </bold></h3>
    
</header>

<section>
    
    <table align="center" border="0" cellpadding="7">
        <tr>
            <td><h3><bold>ACCOUNTANT:</bold></h3></td>
        </tr>
        <tr> 
            <td> <h5>DVVSS R RAJU </h5></td>
            <td><h6>: 9985166778</h6></td>
    
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <h6>: 7799966778</h6>
            </td>

        </tr>

        <tr>
            <td>
            <h3><BOLD>SUPERVISORS:</BOLD></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h5>M.SATHISHRAJU</h5>
            </td>
            <td>
                <h6>: 9133733313</h6>
            </td>
        </tr>
        <tr>
            <td>
                <h5>K.BABURAO</h5>
            </td>
            <td>
                <h6>: 9848357744</h6>
            </td>
        </tr>
        <tr>
            <td>
                <h5>A.RADHAKRISHNA</h5>
            </td>
            <td>
                <h6>: 7893094535</h6>
            </td>
        </tr>
        </table>
</section>
<br>
<%- include("partials/footer"); -%>